#logo{
    width:100%;
    height:40vmax;
    padding: 0px;
}
#nosotros{
    width:100%;
    height:35vmax;
}
#contacto{
    width: 100%;
    height: 10vmax;
}
.container-fluid{
  padding: 0px;
}
a{
  text-decoration: none !important;
}
hr{
    width: 95%
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: grey;
    margin-top: 0px;
    margin-bottom: 10px;
    z-index:100;
    position:relative;
}

@media(max-width: 769px){
  hr{
    margin-top:0px;
    width: 95%
      font-size: 1px;
      color: rgba(0, 0, 0, 0);
      line-height: 1px;
      background-color: grey;
      z-index:100;
      position:relative;
  }
}
#logo_img{
    width: 100%;
    height: 40vmax;
}
.card-img-top{
    margin-top: 15px;
}
@media(max-width: 767px){
    #titulo{
        margin-left: 10px;
    }
    #logo{
      display: none;
    }
    #nav_titulo{
      height: 90vmax;
    }
    #nosotros{
      display: none;
    }
    #contacto{
      height: 40vmax;
    }
}



