html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color:#3e4444;
}
.notas{
    height: 100%;
}
.titulo{
    margin:0px;
}
.container-fluid{
    background-color: #3e4444;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
hr{
    width: 95%
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: grey;
    margin-top: 0px;
    z-index:100;
    position:relative;
}
#carouselExampleIndicators{
  width: 100%;
  height: 100%;
}
.carousel-item img{
  width: 50vmax;
  height: 19vmax;
  object-fit: contain;
}
.carousel-item{
  width: 50vmax;
  height: 30vmax;
}
.eventos{
  width: 100%;
  height: 100%;
}
.carousel-inner{
  width: 100%;
  height: 100%;
}
.carousel-caption{
  bottom: 0px;
  top: 230px; 
}
.carousel-control-prev{
  display: block;
}
.carousel-control-next{
  display: block;
}
.container-fluid{
    background-color:#3e4444;
}
@media(max-width: 1440px) and (min-width: 1025px){
  .carousel-caption{
    bottom: 0px;
    top: 260px;
  }
}
@media(min-width: 1441px){
  .carousel-caption{
    bottom: 0px;
    top: 500px;
  }
}
@media(max-width: 767px){
  hr{
    margin-top:0px;
    width: 95%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: grey;
    z-index:100;
    position:relative;
  }
  #nav_titulo{
    height: 90vmax;
  }
  .carousel-item img{
    width: 100%;
    height: 45vmax;
  }
  .carousel-item{
    width: 100%;
    height: 55vmax;
    margin: 0px;
    padding: 0px;
  }
  .eventos{
    margin:0px;
  }
  html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:#3e4444;
  }
  .container-fluid{
    background-color: #3e4444;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
  .carousel-caption{
    bottom: 0px;
    top: 260px;
  }
  .carousel-control-prev{
    margin-top: 100px;
  }
  .carousel-control-next{
    margin-top: 100px;
  }
  figure figcaption{
    font-size: 1.0rem;
  }
}

