{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Ramos Generales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='{% static "web/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "web/css/main.css" %}'>
    <link rel="stylesheet" href='{% static "web/css/index.css" %}'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extraHead %}{% endblock extraHead %}
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=1625741751014184&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    <script src='{% static "web/js/jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "web/js/popper.min.js" %}'></script>
    <script src='{% static "web/js/bootstrap.min.js" %}'></script>
    <script>
        $(document).ready(function(){
            $('body').on('contextmenu', 'img', function(e){ return false; });
        });
    </script>
    {% block extraScripts %}{% endblock extraScripts %}
</body>
</html>