{% extends 'web/index.html' %}
{% load staticfiles %}
{% block extraHead %}
    <link rel="stylesheet" href='{% static "web/css/discografia.css" %}'>
{% endblock extraHead %}
{% block content %}
<div class="container-fluid">
    <br>
    <hr>
    <div class="row">
        <h1 style="color:#d96459" class="text-center col-12">Catálogo de discos</h1>
        <div class="btn-toolbar mx-auto mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=A">A</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=B">B</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=C">C</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=D">D</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=E">E</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=F">F</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=G">G</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=H">H</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=I">I</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=J">J</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=K">K</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=L">L</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=M">M</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=N">N</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=Ñ">&Ntilde;</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=O">O</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=P">P</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=Q">Q</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=R">R</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=S">S</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=T">T</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=U">U</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=V">V</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=W">W</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=X">X</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=Y">Y</a>
                <a type="button" class="btn btn-toolbar" href="{% url 'discografia'  %}?letter=Z">Z</a>
            </div>
        </div>
    </div>
    <div class="disks">
        <div class="row">
            <div class="col-12">
                <div class="form-group col-3 offset-9 mb-3">
                        <input type="text" class="form-control search" placeholder="Buscar">
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="clientes" role="tabpanel" data-page="1">
                        <div class="contentCol">
                            <div class="card-group">
                                {% for disco in discos  %}
                                <div class="col-3 mb-2">    
                                    <div class="card servicios text-center" data-pk="{{disco.pk}}" data-nombre="{{disco.nombre}}" data-artista="{{disco.artista.nombre}}">
                                        {% if disco.imagen  %}
                                            <img class="card-img-top mx-auto" src="{{disco.imagen.url}}" alt="Card image cap">
                                        {% endif %}
                                        <div class="card-body">
                                            <h4 class="card-title">{{disco.nombre}}</h4>
                                            <p class="card-text">{{disco.artista.nombre}}-{{disco.anio}}
                                            </p>
                                            <button class="btn btn-primary">Agregar al carrito</button>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                    <h1 class="ml-5">No hay discos que comiencen con esta letra</h1>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="resultsCol">
                            <div id="result" class="card-group"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block extraScripts %}
<script>
    data = {{data|safe}};
</script>
<script>
    $(document).ready(function(){
        var timeout;
        $('.search').keyup(function(e) {
            value = $(this).val().toUpperCase();
            pContainer = $(this).parent().parent();
            clearTimeout(timeout);
            timeout = setTimeout(function() {
                if (value) {
                    pContainer.find('.contentCol').css('display', 'none');
                    pContainer.find('#result').css('display', 'block');
                    activetTab = pContainer.find('.active[role="tabpanel"]');
                    cards = data;
                    var results = [];
                    $.each(cards, function(i, card) {
                        if (card["nombre"].toUpperCase().indexOf(value) > -1 || card["artista"].toUpperCase().indexOf(value) > -1) {
                            results.push(card);
                        }
                    })
                    pContainer.find('#result').empty();
                    crearDiscos(activetTab, results, '#result');
                }
                else{
                    pContainer.find('.contentCol').css('display', 'block');
                    pContainer.find('#result').css('display', 'none');
                }
                pContainer.find('.tab-content').scrollTop(0);
            }, 500);
        });

        $('.tab-content').scroll(function() {
            if ($(this).scrollTop() + $(this).innerHeight() + 100 >= $(this)[0].scrollHeight) {
                activetTab = $(this).find('.active[role="tabpanel"]');
                if (activetTab.find('.contentCol').is(':visible')) {
                    page = activetTab.data('page');
                    tab = activetTab[0].id;
                    list = data[tab].slice(page * 15, 15 + page * 15);
                    window[tab](activetTab, list, '.contentCol');
                    $('#'+tab).data('page', ++page);
                }
            }
        });

        function crearDiscos(activetTab, results, container){
            $.each(results, function(i, disco) {
                card_container = $(document.createElement('div')).attr({
                    'class': 'col-3'
                });
                card = $(document.createElement('div')).attr({
                    'class': 'card servicios text-center sm-light',
                    'data-pk': disco["pk"],
                    'data-nombre': disco["nombre"],
                    'data-artista': disco["artista"],
                });
                if (disco["imagen"]){
                    html = `
                        <img class="card-img-top mx-auto" src="`+disco["imagen"]+`" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">`+disco["nombre"]+`</h4>
                            <p class="card-text">`+disco["artista"]+`
                            </p>
                            <button class="btn btn-primary">Agregar al carrito</button>
                        </div>
                    `
                }
                else{
                    html=
                    `
                    <div class="card-body">
                            <h4 class="card-title">`+disco["nombre"]+`</h4>
                            <p class="card-text">`+disco["artista"]+`
                            </p>
                            <button class="btn btn-primary">Agregar al carrito</button>
                        </div>
                    `
                }
                card.append(html);
                card_container.append(card);
                activetTab.find(container).append(card_container);

            });
        }
    });
</script>
    
{% endblock extraScripts %}