{% extends 'web/index.html' %}
{% load staticfiles %}
{% block extraHead %}
    <link rel="stylesheet" href='{% static "web/css/discografia.css" %}'>
{% endblock extraHead %}
{% block content %}
<div class="container-fluid">
    <br>
    <hr class="col-12">
    {% if discos %}
    <div class="row">
        <h1 class="text-center text-white col-12">Catálogo de discos</h1>
    </div>
    <div class="disks mt-2">
        <div class="row">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="clientes" role="tabpanel" data-page="1">
                        <div class="contentCol">
                            <div class="card-group">
                                {% for disco in discos  %}
                                <div class="col-md-3 col-12 mb-2">    
                                    <div class="card servicios text-center" data-pk="{{disco.pk}}" data-nombre="{{disco.nombre}}" data-artista="{{disco.artista.nombre}}">
                                        {% if disco.imagen  %}
                                            <img class="card-img-top mx-auto" src="{{disco.imagen.url}}" alt="Card image cap">
                                        {% endif %}
                                        <div class="card-body">
                                            <h4 class="card-title text-white">{{disco.nombre}}</h4>
                                            <p class="card-text text-white">{{disco.artista.nombre}}-{{disco.anio}}
                                            </p>
                                            <button class="btn btn-primary">Agregar al carrito</button>
                                        </div>
                                    </div>
                                </div>     
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <h1 class="text-center mx-auto text-white">No hay discos que comiencen con esta letra</h1>
    {% endif %}
</div>
{% endblock content %}