{% extends 'web/base.html' %}
{% load staticfiles %}
{% block header %}
  <div id="nav_titulo">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'index' %}">
            <h1 id="titulo" class="text-center text-white">RAMOS GENERALES</h1>
        </a>
        <div class="navbar-nav-scroll">
          <ul class="navbar-nav bd-navbar-nav flex-md-row">
            <li  class="nav-item mr-3 mx-auto {% block activeNosotros %}{% endblock activeNosotros %}">
              <a class="nav-link text-white" href="{% url 'nosotros' %}">Algo de historia</a>
            </li>
            <li class="nav-item mx-auto {% block activeQuienesSomos %}{% endblock activeQuienesSomos %}">
              <a class="nav-link text-white" href="{% url 'quienes_somos' %}">Quienes somos</a>
            </li>
            <li class="nav-item mr-3 mx-auto">
              <a class="nav-link text-white" href="{% url 'eventos' %}">Próximos eventos</a>
            </li>
            <li class="nav-item mr-3 mx-auto">
              <a class="nav-link text-white" href="{% url 'galeria' %}">Galería</a>
            </li>
            <li class="nav-item mr-3 mx-auto">
              <a class="nav-link active text-white" href="{% url 'discografia' %}">Catálogo</a>
            </li>
            <li class="nav-item mr-3 mx-auto">
              <a class="nav-link text-white" href="{% url 'prensa' %}">Prensa</a>
            </li>
            <li class="nav-item mr-3 mx-auto">
              <div class="fb-like" data-href="https://www.facebook.com/Ramos-Generales-417022348721560/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
          
            </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
{% endblock header %}
{% block content %}
  <div class="container-fluid">
    <div id="logo">
      <a href="{% url 'index' %}">
        <img class="img-fluid" id="logo_img" src="{% static 'web/img/logo_compress.jpg' %}" alt="logo">
      </a>
    </div>
    <div id="nosotros">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="col-12 text-center text-white mt-2">Bienvenidos a Ramos generales</h1>
            <br>
            <hr class="col-12">
            <p class="text-justify text-white" style="font-size:18px;">
              "Ramos Generales" es una productora de contenidos artísticos, nacida a finales de 2017,  con el objetivo de interactuar entre la sociedad y los artistas a través de la cultura, haciendo eje en la excelencia del producto, ya sea en la magnificencia de un concierto sinfónico,  la sencillez de un dibujo a lápiz de un artista plástico hasta la intimidad de un poeta leyendo sus poemas en solitario.

              Con más de 25 años realizando eventos culturales en el ámbito regional y en Buenos Aires, Carlos Lezcano y Pedro Zubieta, su paso por la gestión pública y privada les ha permitido crear un círculo virtuoso que involucra a importantes actores de la cultura correntina,  haciendo eje especialmente en la juventud, ya que esta labor les ha permitido a lo largo de los años, apuntalar la carrera de nuevos valores de variadas disciplinas.

              Lezcano y Zubieta, de manera conjunta o separada, han realizado desde 1997 a la fecha, ciclos de cine, muestras plásticas, ediciones y presentaciones de libros,  montado obras de teatro, creado y conducido ciclos radiales y finalmente conciertos de música, rubro al que se han dedicado especialmente.
              En la faz musical, se destaca además  la grabación y difusión de cerca de 30 discos de artistas chamameseros, entre los que podemos destacar registros de Mateo Villalba, Rudi y Nini Flores, Belén Majul, "Gatti - Osuna", Juan Pedro Sorribes, Gabino Chávez, Florencia de Pompert, Gabriel Cocomarola, Alejandro "Piri" Araoz, "Las Guitarras de Curuzu" y Julio Ramírez, entre otros.

              En la búsqueda de la excelencia y con el convencimiento del enorme patrimonio cultural que alberga Corrientes, sale a rodar "Ramos Generales" como una manera de ponerle nombre y apellido a una gestión cultural de casi 30 años.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="contacto mt-3" name="contacto" class="contacto">
      <div class="row">
        <div class="col-12">
          <hr class="col-10 mt-2">
          <h6 class="text-center text-white">ramosgenerales@gmail.com</h6>
          <h5 class="text-center text-white offset-md-9">Desarrollado por Manuel Zubieta</h5>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extraScripts %}
<script>
  $(document).ready(function(){
      $("#discografia").click(function(event){
        window.location = '/web/discografia/';
      })
  });
</script>
  
{% endblock extraScripts %}
